
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Kebersihan & Keamanan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-title>Bayar</ion-title>
    <h3></h3>
    <p>unggah gambar bukti pembayaran anda disini :</p>

    <div cass="dropzone"
      dropzone
      (hovered)="toggleHover($event)"
      (dropped)="startUpload($event)"
      [class.hovering]="isHovering">

      <div class="file">
        <label class="file-label">
        <input type="file" (change)="startUpload($event.target.files)">
        <br>
        <div *ngIf="percentage | async as pct">
          <progress [value]="pct" max="100"></progress>
        </div>
        <br>
        <div *ngIf="downloadURL | async as url">
        <ion-title>Uploaded!</ion-title>
        <br>
        <img [src]="url">
      </div>
      </label>
        </div>
      </div>
      </ion-content>
